<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Feedback</title>
</head>

<body>
  <header>
    <h1>Feedback</h1>
  </header>
  <br>
  <main>
        {{{body}}}
     
  </main>
</body>

</html>