
  <form action="/store" method="POST" class="feeback-form">

      <label for="username">Enter your Name:</label>
      <input type="text" id="username" name="username" placeholder="Name"  class="data"/><br><br>

      <label for="email">Enter your Email:</label>
      <input type="text" id="email" name="email" placeholder="Email"  class="data"/>

        <p>How would you rate this experience?</p>

    <input type="radio" id="onestar" name="rating" value="1">
        <label for="onestar">1</label><br>


    <input type="radio" id="twostar" name="rating" value="2">
        <label for="twostar">2</label><br>

         <input type="radio" id="threestar" name="rating" value="3">
        <label for="threestar">3</label><br>

         <input type="radio" id="fourstar" name="rating" value="4">
        <label for="fourstar">4</label><br>

        <input type="radio" id="fivestar" name="rating" value="5">
        <label for="fourstar">5</label><br><br>


        <textarea name="feedback" id="feeback" cols="30" rows="10"></textarea>
        <br>
        <br>
    <button type="submit">Submit</button>
        </form>